.semi {
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Vertically center the items */
}

.semi img {
    max-width: 50%; /* Adjust the image width */
    margin-right: 20px; /* Space between image and text */
}

.text-content {
    max-width: 50%; /* Ensure text does not overflow */
    /* padding-bottom: 100px; */
    /* padding-left: 400px; */
}

.contact{
    padding-top: 200px;
}

.contact-img{
    border-radius: 25px;
    /* display: flex; */
}
.middle-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 150px;
}
/* .checc{
    padding-right: 105px;
} */
 .contact-text{
    display: flex;
    justify-content: space-between;
 }
 @media screen and (min-width: 751px) and (max-width: 1000px){
    .semi{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
 @media screen and (min-width: 751px) and (max-width: 1000px){
   .contact-text{
    display: block;
   }
  }
 
  @media screen and (min-width: 320px) and (max-width: 750px){
    .semi{
        display: grid;
        grid-template-columns: 1fr;
    }
}
 
  @media screen and (min-width: 320px) and (max-width: 750px){
    .contact-text{
        display: block;
    }
}