body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}
.sidebar {
    position: fixed;
    top: 115px; /* Height of the header */
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    /* bottom: 115px; */
}
.content {
    margin-left: 220px; /* Width of the sidebar + padding */
    padding: 15px;
}
.sidebar li{
    list-style: none;

}
.sidebar a{
    text-decoration: none;
}