#cart {
    max-width: 300px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
    max-height: 400px;
}

#cart h2 {
    margin: 0;
}

#cart-items {
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
}

.checkout-button {
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: aliceblue;
    background-color: coral;
}

.checkout-button:hover {
    background-color: chocolate;
    color: black;
}

.cancel-button {
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: red;
}

.cancel-button:hover {
    background-color: darkred;
}

.hide-cart-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.hide-cart-btn:hover {
    color: red;
}

.qty-button {
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: aliceblue;
    background-color: coral;
    margin: 0 4px;
    font-size: 16px;
}

.qty-button:hover {
    background-color: chocolate;
    color: black;
}
